@import "tailwindcss";

@font-face {
  font-family: 'Boheme';
  src: url('/resources/fonts/DFVN-Boheme-Floral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px; 
  --color-primary: #0E4087;
  --color-secondary: #EC2127;
  --color-secondary-hover: color-mix(in srgb, var(--color-secondary), black 10%);
  --color-background: #FDFBF5;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: var(--color-background);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable; 
}

html:has(body.intro-playing)::-webkit-scrollbar {
  visibility: hidden; 
}

html:has(body.intro-playing) {
  scrollbar-color: transparent transparent; 
}

.pagi-item {
  @apply w-12 h-12 flex items-center justify-center rounded-xl bg-white border border-gray-200 text-gray-500 font-bold shadow-sm transition-all duration-300 hover:border-primary hover:text-primary;

  &.active {
    @apply bg-primary border-primary text-white shadow-md;
  }

  i {
    @apply leading-none;
  }
}

[data-animate="slide-in-left"],
[data-animate="slide-in-right"] {
    will-change: transform, opacity;
    backface-visibility: hidden;
}